html {
  height: 100%;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.nombre {}

.header {
  text-align: center;
  margin-top: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-width: 1000px;
  margin: 20px auto;
}

.perfil {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #4DD0E1;
  width: 50%;
  padding: 20px;
}

.experiencia {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background-color: #FAF7F2;
}

.bloque {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloque ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}